body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 0.5px solid gray;
    padding: 8px;
    text-align: left;
    font-size: 12pt;
}

th {
    background-color: #C0C0C0;
}

td {
    background-color: #DCDCDC;
}

thead th {
    position: sticky;
    top: 0;
}

button {
    width: 90px;
    height: 35px;
    background-color: beige;
    font-size: 16px;
    text-align: center;
}

input {
    width: 90px;
    height: 30px;
    padding-left: 10px;
}

.container {
    display: flex;
    height: 400px;
    width: 700px;
    border: 2px solid black;
}

.container-table {
    max-height: 400px;
    margin: 10px;
    border: 2.5px solid gray;
    overflow-y: auto;
}

.container-select {
    margin-top: 10%;
    padding-left: 45px;
}

#selection {
    width: 220px;
    height: 30px;
    font-size: 16px;
}

.container-test {
    margin-top: 5%;
    padding-left: 45px;
}

#test {
    width: 220px;
}

.container-transfer {
    margin-top: 5%;
    padding-left: 45px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#transfer-button{
    height: 70px;
    text-align: center;
}



.input {
    display: flex;
    flex-direction: column;
}

.container-accountCreation {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 45px;
}

#owner {
    height: 45px;
}


#createAccount {
    height: 50px;
    text-align: center;
}

.container-accountActions {
    margin-top: 5%;
    display: flex;
    width: 200px;
    flex-direction: row;
    gap: 20px;
    padding-left: 45px;
}

.buttons-accountActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#amount {
    height: 80px;
}