body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    height: 400px;
    width: 700px;
    border: 2px solid black;
}


th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.container-buttons {
    margin-left: 10%;
    margin-top: 25%;
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

button {
    height: 50px;
    background-color: beige;
}

.container-input {
    margin-top: 10px;
}

input {
    width: 100px;
    height: 30px;
}

.container-input {
    margin-left: 30%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}